apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
data:
  postgres-root-username: YWRtaW4=
  postgres-root-password: YWRtaW4=
  postgres-root-database-url: cG9zdGdyZXNxbCtwc3ljb3BnMjovL2FkbWluOmFkbWluQGxvY2FsaG9zdDo1NDMyL3Bvc3RncmVz==
  postgres-root-database: cG9zdGdyZXM=