apiVersion: apps/v1
kind: Deployment
metadata:
  name: publisher-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: publisher
  template:
    metadata:
      labels:
        app: publisher
    spec:
      containers:
      - name: publisher
        image: tharbuini/trabalho-final-asa:publisher
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
        env:
          - name: PS_DATABASE_URL
            value: postgresql+psycopg2://admin:admin@postgres:5432
          - name: RABBITMQ_HOST
            value: rabbitmq-service
        envFrom:
        - configMapRef:
            name: postgres-config
        resources:
          limits:
            memory: 250Mi
          requests:
            cpu: 200m
            memory: 200Mi

---
apiVersion: v1
kind: Service
metadata:
  name: publisher-service
spec:
  selector:
    app: publisher
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: LoadBalancer  # Use NodePort se estiver usando o Minikube
---
kind: Service
apiVersion: v1
metadata:
  name: postgres
spec:
  type: ExternalName
  externalName: localhost
