apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq-deployment
spec:
  selector:
    matchLabels:
      app: rabbitmq
  replicas: 1
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
      - name: rabbitmq
        image: rabbitmq
        ports:
        - name: rabbitmq-server
          containerPort: 5672
        - name: rabbitmq-mgm
          containerPort: 15672
---
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-service
spec:
  selector:
    app: rabbitmq
  type: LoadBalancer
  ports:
  - name: rabbimq-server-port
    protocol: TCP
    port: 5672
    targetPort: 5672
    nodePort: 30003
  - name: rabbimq-server-mgm-port
    protocol: TCP
    port: 15672
    targetPort: 15672
    nodePort: 30004
